# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

This notebook covers the following:
- Popular languages that are used in Data Science
- Commonly used libraries used in Data Science
- Popular Data Science tools and what a formatted table appears as in a Jupyter Notebook
- Simple mathematic expressions done in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Scipy
4. Pandas
5. Keras
6. Matplotlib
7. SciKit-Learn
8. PyTorch
9. Seaborn
10. Statsmodels

| Data Science Tools|
| ----|
| Jupyter|
| R| 
| Spyder|
| Julia|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Daniel van Veelen